# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables / secrets (Sangat penting agar API keys & kredensial database tidak terekspos di GitHub)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Vercel / Deployment
.vercel

# Editor/IDE directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db
